//choice

.choice {
  & {
    background: url("../img/choice/Main_choice.jpg") center no-repeat;
    height: 40.7rem;
    margin-bottom: 3.6rem;
    min-height: 100vh;
  }

  &__text {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    color: #ffffff;
    text-transform: uppercase;
  }

  &__select {
    display: flex;
    flex-direction: column;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    writing-mode: tb-rl;
    width: 29rem;
    height: 3.6rem;
  }
}
