/*clients*/

.clients {
  margin-bottom: 3.9rem;
  min-height: 100vh;
}

.clients__list {
  display: flex;
  justify-content: center;

  .clients__info {
    padding-right: 0.4rem;

    &:last-child {
      padding-right: 0;
    }
    .clients__pic {
      width: 4.6rem;
      height: 4.6rem;
      overflow: hidden;
      border-radius: 50%;
    }
  }
}
