/*Command*/

.command {
  & {
    min-height: 100vh;
  }

  &__title {
    margin-bottom: 3.3rem;
  }

  &__text {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    color: #292929;
    text-align: center;
    text-transform: uppercase;
  }

  &__full {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;

    &__full:last-child {
      padding-right: 0;
    }
  }

  &___list {
    padding-right: 1.2rem;
  }

  &__profession {
    display: flex;
  }

  &__name {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.2;
    color: #292929;
    text-align: center;

    &__name::after {
      content: url("../img/icon/Polygon_top.png");
      margin-left: 0.25rem;
      width: 0.6rem;
      height: 0.6rem;
    }

    &__name--after::after {
      content: url("../img/icon/Polygon_bottom.png");
    }
  }
}

.profession {
  &__list {
    text-align: center;
  }

  &__title {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.2;
    color: #292929;
  }

  &__subtitle {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.2;
  }
}
