/*comment*/

.comment {
  margin-bottom: 0.9rem;
  min-height: 100vh;

  .container__comment--gray {
    background-color: #f8faf9;

    .comment__main {
      display: flex;
      padding: 2.6rem;

      .comment__title {
        padding: 2.3rem;
        display: flex;
        flex-direction: column;

        .comment__text {
          font-size: 1.7rem;
          font-weight: 700;
          line-height: 1.2;
          color: #292929;
        }

        .comment__subtitle {
          padding-top: 0.9rem;
          max-width: 29rem;
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.2;
          color: #666666;
        }

        .comment__name {
          padding-top: 25px;

          .comment__surname {
            font-size: 1.1rem;
            font-weight: 500;
            line-height: 1.2;
            color: #292929;
          }
        }
      }
    }
  }
}
