/*form*/

.form {
  min-height: 100vh;
}

.form__fon {
  background: url("../img/form/cta.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 59.5rem;
}

.form__title {
  padding-top: 6.8rem;
  margin-bottom: 7.5rem;

  .form__subtitle {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    color: #ffffff;
  }
}

.form__main {
  display: flex;

  .form__contacts {
    margin-right: 1.7rem;
  }
}

.form__info {
  display: flex;
  margin-bottom: 0.6rem;

  .form__data {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }

    .input__text {
      width: 13.3rem;
      height: 3.6rem;
      padding-left: 0.7rem;
    }
  }
}

.form__street {
  margin-bottom: 0.7rem;
}

.input__street {
  width: 28.7rem;
  height: 3.6rem;
  padding-left: 0.7rem;
}

.form__list {
  display: flex;

  .form__fill {
    margin-right: 0.8rem;

    &:last-child {
      margin-right: 0;
    }

    .input__number {
      width: 5.8rem;
      height: 3.6rem;
      padding-left: 0.7rem;
    }
  }
}

.form__name,
.form__phone,
.form__str,
.form__hous,
.form__housing,
.form__room,
.form__level {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
}

.form__wishes {
  margin-bottom: 2.9rem;

  .form__info--title {
    margin-bottom: 2.3rem;
  }
}

.input__text--wishes {
  width: 28rem;
  height: 9.5rem;
  resize: none;
}

.payments__main {
  display: flex;
  margin-bottom: 1.2rem;
}
.payments {
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  cursor: pointer;

  &:last-child {
    padding-right: 0;
  }

  .payments__cash {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
    padding-left: 0.6rem;
  }

  .payments__card {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
    padding-left: 0.6rem;
  }
}

.call {
  display: flex;
  align-items: center;
  margin-bottom: 47px;

  .call__text {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.2;
    color: #ffffff;
    padding-left: 0.7rem;
  }
}

.buttons {
  display: flex;

  .btn__theme--transparent {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
  }
}
