//form

.form {
  & {
    min-height: 100vh;
  }

  &__fon {
    background: url("../img/form/cta.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 59.5rem;
  }
  &__title {
    padding-top: 6.8rem;
    margin-bottom: 7.5rem;
  }

  &__subtitle {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    color: #ffffff;
  }

  &__main {
    display: flex;
  }

  &__contacts {
    margin-right: 1.7rem;
  }

  &__info {
    display: flex;
    margin-bottom: 0.6rem;
  }

  &__data {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__street {
    margin-bottom: 0.7rem;
  }

  &__list {
    display: flex;
  }

  &__fill {
    margin-right: 0.8rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__name,
  &__phone,
  &__str,
  &__hous,
  &__housing,
  &__room,
  &__level {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
  }

  &__wishes {
    margin-bottom: 2.9rem;
  }

  &__info--title {
    margin-bottom: 2.3rem;
  }

  &__text {
    width: 13.3rem;
    height: 3.6rem;
    padding-left: 0.7rem;
  }

  &__input {
    width: 28.7rem;
    height: 3.6rem;
    padding-left: 0.7rem;
  }

  &__item {
    width: 5.8rem;
    height: 3.6rem;
    padding-left: 0.7rem;
  }

  &__insert--wishes {
    width: 28rem;
    height: 9.5rem;
    resize: none;
  }

  &__payments {
    display: flex;
    margin-bottom: 1.2rem;
  }

  &__hero {
    display: flex;
    align-items: center;
    padding-right: 0.5rem;
    cursor: pointer;

    &:last-child {
      padding-right: 0;
    }
  }

  &__cash {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
    padding-left: 0.6rem;
  }

  &__card {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
    padding-left: 0.6rem;
  }

  &__call {
    display: flex;
    align-items: center;
    margin-bottom: 47px;
  }

  &__nocall {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.2;
    color: #ffffff;
    padding-left: 0.7rem;
  }
}

.buttons {
  display: flex;

  .btn__theme--transparent {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
  }
}
