/*form*/

.form {
  min-height: 100vh;
}

.form__fon {
  background: url("../img/form/cta.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 952px;
}

.form__title {
  padding-top: 109px;
  margin-bottom: 121px;

  .form__subtitle {
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    color: #ffffff;
  }
}

.form__main {
  display: flex;

  .form__contacts {
    margin-right: 27px;
  }
}

.form__info {
  display: flex;
  margin-bottom: 10px;

  .form__data {
    margin-right: 17px;

    &:last-child {
      margin-right: 0;
    }

    .input__text {
      width: 213px;
      height: 58px;
      padding-left: 12px;
    }
  }
}

.form__street {
  margin-bottom: 12px;
}

.input__street {
  width: 460px;
  height: 58px;
  padding-left: 12px;
}

.form__list {
  display: flex;

  .form__fill {
    margin-right: 13px;

    &:last-child {
      margin-right: 0;
    }

    .input__number {
      width: 93px;
      height: 58px;
      padding-left: 12px;
    }
  }
}

.form__name,
.form__phone,
.form__str,
.form__hous,
.form__housing,
.form__room,
.form__level {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
}

.form__wishes {
  margin-bottom: 47px;

  .form__info--title {
    margin-bottom: 38px;
  }
}

.input__text--wishes {
  width: 450px;
  height: 152px;
  resize: none;
}

.payments__main {
  display: flex;
  margin-bottom: 19px;
}
.payments {
  display: flex;
  align-items: center;
  padding-right: 9px;
  cursor: pointer;

  &:last-child {
    padding-right: 0;
  }

  .payments__cash {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
    padding-left: 10px;
  }

  .payments__card {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
    padding-left: 10px;
  }
}

.call {
  display: flex;
  align-items: center;
  margin-bottom: 47px;

  .call__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #ffffff;
    padding-left: 12px;
  }
}

.buttons {
  display: flex;

  .btn__theme--transparent {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
  }
}
