//head

$color_text__header: #ffffff;


.wrapper {

  & {
    width: 100%;
    min-height: 100%;
  }

  &__fon {
    background: url("../img/head/arnaud-mesureur.jpg") center top no-repeat;
    background-size: cover;
    margin-bottom: 6.4rem;
    min-height: 100vh;
    max-width: 100%;
  }

  &__fon {
    @include tablet {
      background: url("../img/head/768_px/arnaud-mesureur.png") center top
        no-repeat;
    }
  }

}

.head {
  padding: 1.5rem 0 4.3rem 0;

  &__wrapp {
    margin: 0 auto;
  }

  & {
    @include tablet {
      padding: 0;
    }
  }


}

.header {

  & {
    position: relative;
  }

  &__master {
    @include tablet {
      background-color: #1968b1;
      height: 5.6rem;
    }
  }

  &__master {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem;

    .logo__pic {
      width: 3.4rem;
      height: 2.4rem;
    }
  }
}

.menu {
  @include tablet {
    display: none;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__item {
    margin-right: 1.3rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1.2;
    color: $color_text__header;

    &:hover {
      background: linear-gradient(to left, #00bfff);
      background-position: bottom;
      background-size: 100% 0.1rem;
      background-repeat: repeat-x;
    }
  }
}

.contacts {

  & {
    display: flex;
  }

  &__pic {
    margin: auto;
    width: 0.8rem;
    height: 0.8rem;
  }
  &__tel {
    font-size: 1.3rem;
    font-weight: 800;
    line-height: 1.2;
    text-decoration: none;
    color: $color_text__header;

    &:hover {
      background: linear-gradient(to left, #00bfff);
      background-position: bottom;
      background-size: 100% 0.01rem;
      background-repeat: repeat-x;
    }
  }


}

.contacts__tel {
  @include tablet {
    display: none;
  }
}

.contacts__pic {
  @include tablet {
    display: none;
  }
}


  

 


.hero {
  width: 36rem;
  display: flex;
  flex-direction: column;

  .hero__section {
    display: flex;
    flex-direction: column;
  }

  .title {
    @include tablet {
      max-width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
    }
  }
  .subtitle {
    @include tablet {
      max-width: 100%;
      text-align: center;
    }
  }

  .button {
    @include tablet {
      display: flex;
      justify-content: center;
    }
  }
}

.title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  color: $color_text__header;
  text-transform: uppercase;
  margin-bottom: 3rem;
  max-width: 46%;
}

.subtitle {
  font-size: 1.3rem;
  font-style: 400;
  line-height: 1.2;
  color: $color_text__header;
  margin-bottom: 6.3rem;
}

.button {
  display: flex;
  margin-bottom: 7.9rem;
}

.offer {
  @include tablet {
    display: none;
  }
}

.offer__main {
  display: flex;

  .offer__title {
    width: 8.8rem;
    display: flex;
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }

    .offer__pic {
      width: 2.1rem;
      height: 2.1rem;
    }

    .offer__link {
      display: inline;
      text-decoration: none;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.1;
      color: $color_text__header;
      padding-left: 0.8rem;
    }
  }
}
