/*main*/

.main {
  min-height: 100vh;
}

.main__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7rem;

  .main__link {
    margin-right: 3.3rem;

    &:last-child {
      margin-right: 0;
    }
    .intermediate__pic {
      position: absolute;
      width: 4.3rem;
      height: 1.5rem;
      margin: 3rem 16.6rem;
    }

    .main__logo {
      display: flex;
      justify-content: center;
      padding-bottom: 1.2rem;

      .main__img {
        background-color: #f2f5f4;
        border-radius: 50%;

        .main__pic {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 8rem;
          height: 8rem;

          .main__foto {
            width: 4.2rem;
            height: 4.2rem;
          }
        }
      }
    }
  }
}

.main__block {
  text-align: center;

  .main__name {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.2;
    color: #292929;
    padding-bottom: 20px;
  }

  .main__product {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.2;
    color: #666666;
  }
}
