/*offers*/

.offers {
  background: #f8faf9;
  margin-bottom: 4.1rem;
}

.offers__hero {
  display: flex;
  padding: 3.2rem 0 6.5rem 5.8rem;
  position: relative;

  .offers__arrow--left {
  }

  .offers__arrow--right {
  }
}

.offers__select {
  background-color: #3a587e;
  width: 5.6rem;
  height: 5.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.offers__pic {
  padding-right: 5rem;
  padding-top: 3.5rem;
  width: 27.7rem;

  .offers__fon {
    height: 23.6rem;
    background: url("../img/offers/vector_surf.png") no-repeat;

    .offers__img {
      position: absolute;
      top: 3.3rem;
    }
  }
}

.offers__info {
  max-width: 23rem;
}

.offers__text--name {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
}
