/*review*/

.reviews {
    margin-bottom: 32px;
}

.reviews__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    color: #292929;
    text-align: center;
    text-transform: uppercase;
}