/*review*/

.reviews {
    margin-bottom: 2rem;
    min-height: 100vh;    
}

.reviews__title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    color: #292929;
    text-align: center;
    text-transform: uppercase;
}
