/*sidebar*/

.sidebar {
  min-height: 100vh;

  .sidebar__menu {
    position: fixed;
    top: 288px;
    right: 214px;

    .sidebar__list {
      padding: 7px;

      .sidebar__links--actives {
        border-color: #ffffff;
      }
    }
    .sidebar__link {
      width: 18px;
      height: 19px;
      border-radius: 50%;
      border: 1px solid transparent;
      position: relative;
      display: block;

      &::before {
        content: "";
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: #ffffff;
        top: 25%;
        left: 25%;
        position: absolute;
      }
    }
  }
}
