//work

.work {
  & {
    display: flex;
    background-color: #f8faf9;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }

  &__title {
    padding-top: 3.8rem;
  }

  &__subtitle {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    color: #292929;
    text-transform: uppercase;
  }

  &__video {
    padding-top: 1.8rem;
  }
}
