/*link*/
html {
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 375px) {
  html {
    font-size: 12px;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 11px;
  }
}

html,
body {
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Alegreya Sans", sans-serif;
}

button {
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

.head {
  padding: 1.5rem 0 4.3rem 0;
}
@media screen and (max-width: 768px) {
  .head {
    padding: 0 0 17rem 0;
  }
}
@media screen and (max-width: 480px) {
  .head {
    padding: 0 0 10rem 0;
  }
}
@media screen and (max-width: 768px) {
  .head__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #1968b1;
    height: 5.6rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.4rem 1.4rem 0.4rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .head__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #1968b1;
    height: 5.6rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.4rem 1.4rem 0.4rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 375px) {
  .head__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #1968b1;
    height: 5.6rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.4rem 1.4rem 0.4rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 320px) {
  .head__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #1968b1;
    height: 5.6rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.4rem 1.4rem 0.4rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.head__link {
  display: none;
}
@media screen and (max-width: 768px) {
  .head__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
@media screen and (max-width: 480px) {
  .head__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
.head__icon {
  width: 3.4rem;
  height: 2.4rem;
  cursor: pointer;
  fill: #ffffff;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}
.wrapper__fon {
  background: url("../img/head/arnaud-mesureur-17OxKyThYPo-unsplash.png") center top no-repeat;
  background-size: cover;
  margin-bottom: 6.4rem;
  height: 100vh;
  min-height: 41rem;
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .wrapper__fon {
    background: url("../img/head/768_px/arnaud-mesureur.png") center top no-repeat;
    height: 100vh;
    min-height: 56.7rem;
    max-width: 100%;
    background-size: contain;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .wrapper__fon {
    background: url("../img/head/480__px/arnaud-mesureur.png") center top no-repeat;
    height: 100vh;
    max-width: 100%;
    background-size: contain;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 375px) {
  .wrapper__fon {
    background: url("../img/head/375_px/arnaud-mesureur.png") center top no-repeat;
    background-size: contain;
    height: 100vh;
    max-width: 100%;
    margin-bottom: 0;
  }
}

.container {
  width: 95%;
  max-width: 100%;
  max-width: 59rem;
  margin: 0 auto;
  position: relative;
}

.header {
  padding: 1.5rem 0 4.3rem 0;
  position: relative;
}
.header__master {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7rem;
}
@media screen and (max-width: 768px) {
  .header__master {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 22rem;
  }
}
@media screen and (max-width: 480px) {
  .header__master {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 16rem;
  }
}
@media screen and (max-width: 320px) {
  .header__master {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 21rem;
  }
}
@media screen and (max-width: 768px) {
  .header__logo {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .header__logo {
    display: none;
  }
}
.header__icon {
  width: 3.4rem;
  height: 2.4rem;
  cursor: pointer;
  fill: #ffffff;
}
.header__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4rem;
}
.header__block {
  max-width: 46%;
  margin-bottom: 3rem;
}
.header__title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  color: #ffffff;
  text-transform: uppercase;
  max-width: 50%;
}
@media screen and (max-width: 768px) {
  .header__title {
    max-width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0.5rem;
  }
}
@media screen and (max-width: 480px) {
  .header__title {
    max-width: 100%;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header__subtitle {
  font-size: 1.3rem;
  font-style: 400;
  line-height: 1.2;
  color: #ffffff;
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 768px) {
  .header__subtitle {
    max-width: 100%;
    text-align: center;
    margin-bottom: 0.5rem;
  }
}
.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .header__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .header__offer {
    display: none;
  }
}
.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__list {
  width: 8.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2rem;
}
.header__list:last-child {
  margin-right: 0;
}
.header__pic {
  width: 3.1rem;
  height: 2.1rem;
  fill: #ffffff;
}
.header__pic--padding {
  padding-top: 0.4rem;
}
.header__link {
  display: inline;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1;
  color: #ffffff;
  padding-left: 0.8rem;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__item {
  margin-right: 1.3rem;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
}
.menu__link:hover {
  background: -webkit-gradient(linear, right top, left top, from(#00bfff));
  background: linear-gradient(to left, #00bfff);
  background-position: bottom;
  background-size: 100% 0.1rem;
  background-repeat: repeat-x;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contacts__phone {
  margin: auto;
  width: 0.8rem;
  height: 0.8rem;
  fill: #ffffff;
}
@media screen and (max-width: 768px) {
  .contacts__phone {
    display: none;
  }
}
.contacts__tel--header {
  font-size: 1.3rem;
  font-weight: 800;
  line-height: 1.2;
  text-decoration: none;
  color: #ffffff;
}
.contacts__tel--header:hover {
  background: -webkit-gradient(linear, right top, left top, from(#00bfff));
  background: linear-gradient(to left, #00bfff);
  background-position: bottom;
  background-size: 100% 0.01rem;
  background-repeat: repeat-x;
}
@media screen and (max-width: 768px) {
  .contacts__tel--header {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .contacts__pic {
    display: none;
  }
}

.hamburger {
  width: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
.hamburger__list {
  padding-top: 5px;
}
.hamburger__link {
  display: block;
  background-color: #fff;
  height: 3px;
  border-radius: 12px;
  text-decoration: none;
}

.btn {
  border: 1px solid transparent;
  padding: 1.1rem 2.5rem;
  border-radius: 2.1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.btn__theme--yellow {
  background-color: #fedb3f;
  color: #000000;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.1;
}
.btn__theme--yellow:hover {
  background-color: #ffffff;
  color: #fedb3f;
}

.features {
  margin-bottom: 3rem;
  min-height: 100vh;
}
.features__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.features__title {
  font-size: 3rem;
  font-weight: 700;
  color: #292929;
  line-height: 1.2;
  margin-bottom: 1rem;
  max-width: 100%;
  text-transform: uppercase;
}
.features__subtitle {
  width: 27.23rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2;
  color: #666666;
  margin-bottom: 3rem;
}
.features__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 7rem;
}
.features__link {
  margin-right: 3.3rem;
  padding-bottom: 1.2rem;
}
.features__link:last-child {
  margin-right: 0;
  padding-bottom: 0;
}
@media screen and (max-width: 480px) {
  .features__link {
    margin-right: 2.5rem;
  }
}
@media screen and (max-width: 375px) {
  .features__link {
    margin-right: 2.5rem;
  }
}
@media screen and (max-width: 320px) {
  .features__link {
    margin-right: 2.5rem;
  }
}
@media screen and (max-width: 480px) {
  .features__link:last-child {
    margin-right: 2.5rem;
  }
}
@media screen and (max-width: 375px) {
  .features__link:last-child {
    margin-right: 2.5rem;
  }
}
@media screen and (max-width: 320px) {
  .features__link:last-child {
    margin-right: 2.5rem;
  }
}
@media screen and (max-width: 480px) {
  .features__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.features__intermediate__icon {
  position: absolute;
  width: 4.3rem;
  height: 1.5rem;
  margin: 3rem 7.6rem;
  fill: #f2f5f4;
}
@media screen and (max-width: 768px) {
  .features__intermediate__icon {
    display: none;
  }
}
.features__block {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .features__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}
.features__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.features__img {
  background-color: #f2f5f4;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 8rem;
  height: 8rem;
}
.features__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.features__foto--one {
  width: 2.7rem;
  height: 4.2rem;
}
@media screen and (max-width: 375px) {
  .features__foto--one {
    width: 4rem;
    height: 6rem;
  }
}
@media screen and (max-width: 320px) {
  .features__foto--one {
    width: 4rem;
    height: 6.5rem;
  }
}
.features__foto--two {
  width: 4rem;
  height: 4rem;
}
@media screen and (max-width: 375px) {
  .features__foto--two {
    width: 5rem;
    height: 6rem;
  }
}
@media screen and (max-width: 320px) {
  .features__foto--two {
    width: 6rem;
    height: 6.5rem;
  }
}
.features__foto--three {
  width: 4rem;
  height: 4.2rem;
}
@media screen and (max-width: 375px) {
  .features__foto--three {
    width: 5.3rem;
    height: 6rem;
  }
}
@media screen and (max-width: 320px) {
  .features__foto--three {
    width: 6.2rem;
    height: 7.8rem;
  }
}
@media screen and (max-width: 480px) {
  .features__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0.75rem;
  }
}
.features__name {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2;
  color: #292929;
  padding-bottom: 20px;
}
@media screen and (max-width: 480px) {
  .features__name {
    padding-bottom: 0;
  }
}
.features__product {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.2;
  color: #666666;
}

.options {
  background: #f8faf9;
  min-height: 100vh;
}
.options__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  padding-top: 4.1rem;
}
.options__slide--active {
  display: none;
}
@media screen and (max-width: 768px) {
  .options__slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.options__fon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25rem;
}
.options__fon--all {
  background: url("../img/offers/vector_surf.png") no-repeat center;
}
@media screen and (max-width: 768px) {
  .options__fon {
    background: url("../img/offers/768/vector_surf.png") no-repeat center;
  }
}
@media screen and (max-width: 480px) {
  .options__fon {
    background: url("../img/offers/480/vector_surf.png") no-repeat center;
  }
}
@media screen and (max-width: 768px) {
  .options__foto {
    display: none;
  }
}
.options__tablet {
  display: none;
}
.options__phone {
  display: none;
}
@media screen and (max-width: 768px) {
  .options__tablet {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
@media screen and (max-width: 480px) {
  .options__tablet {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .options__phone {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
.options__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 23rem;
}
@media screen and (max-width: 768px) {
  .options__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 33rem;
  }
}
.options__item {
  background-color: #3a587e;
  width: 5.6rem;
  height: 5.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  border-radius: 0.25rem;
  margin-bottom: 3.2rem;
}
@media screen and (max-width: 768px) {
  .options__item {
    display: none;
  }
}
.options__img {
  fill: #ffffff;
  width: 2.3rem;
  height: 2.3rem;
  cursor: pointer;
  position: relative;
}
.options__item:hover .options__emerge {
  display: block;
}
.options__choice {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
}
.options__emerge {
  width: 17rem;
  height: 18rem;
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
.options__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.25rem;
  background-color: #ECECEC;
}
.options__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.75rem;
}
.options__pic {
  fill: #010002;
  width: 1.5rem;
  height: 0.8rem;
  margin-right: 1rem;
}
.options__parameter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 7.9rem;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.2;
  color: #000;
  cursor: pointer;
}
.options__showing {
  width: 3.3rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000;
}
.options__data {
  margin-bottom: 1.5rem;
}
.options__title {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  color: #292929;
}
.options__subtitle {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  color: #666666;
}
.options__list {
  padding-right: 3.2rem;
}
.options__list:last-child {
  padding: 0;
}
.options__length {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2;
  color: #666666;
}
.options__size {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
}
.options__model {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem;
}
.options__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
}
.options__buy {
  padding-right: 4.7rem;
}
.options__buy:last-child {
  padding-right: 0;
}
.options__arrow--left {
  width: 0.8rem;
  height: 1.7rem;
  position: absolute;
  top: 50%;
  left: 0;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .options__arrow--left {
    width: 0.8rem;
    height: 1.7rem;
    position: absolute;
    top: 35%;
    left: 3.6rem;
    cursor: pointer;
  }
}
@media screen and (max-width: 480px) {
  .options__arrow--left {
    width: 0.8rem;
    height: 1.7rem;
    position: absolute;
    top: 35%;
    left: 0;
    cursor: pointer;
  }
}
.options__arrow--right {
  width: 0.8rem;
  height: 1.7rem;
  position: absolute;
  top: 50%;
  right: 0%;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .options__arrow--right {
    width: 0.8rem;
    height: 1.7rem;
    position: absolute;
    top: 35%;
    right: 3.6rem;
    cursor: pointer;
  }
}
@media screen and (max-width: 480px) {
  .options__arrow--right {
    width: 0.8rem;
    height: 1.7rem;
    position: absolute;
    top: 35%;
    right: 0;
    cursor: pointer;
  }
}
.options__arrow {
  stroke: #000000;
  stroke-width: 2;
  stroke-linecap: round;
  fill: none;
}

/*Command*/
.command {
  min-height: 100vh;
}
.command__title {
  margin-bottom: 3.3rem;
}
.command__subtitle {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  color: #292929;
  text-align: center;
}
.command__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}
.command__item--mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .command__item {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .command__item--mobile {
    display: inline;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.command__hero {
  padding-right: 1.25rem;
}
.command__hero:last-child {
  padding: 0;
}
@media screen and (max-width: 768px) {
  .command__hero {
    padding-right: 0;
  }
}
.command__logo {
  width: 13.8rem;
  height: 18rem;
}
.command__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.command__name {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.1;
  color: #292929;
}
.command__arrow {
  width: 0.5rem;
  height: 0.5rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.command__arrow_rotated {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.command__description {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.4s;
  transition: height 0.4s;
}
.command__profession {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.1;
  color: #292929;
}
.command__text {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.2;
  color: #666666;
  text-align: center;
}

.choice {
  background: url("../img/choice/Main_choice.jpg") center no-repeat;
  height: 40.7rem;
  margin-bottom: 3.6rem;
  min-height: 100vh;
}
.choice__text {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
  text-transform: uppercase;
}
.choice__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.choice__link {
  width: 6.25rem;
  text-transform: uppercase;
  background-color: transparent;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}
.choice__name {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
}
.choice__content {
  font-size: 1rem;
  font-weight: 400;
  color: #FFFFFF;
  overflow: hidden;
  width: 0;
  background-color: #333537;
  -webkit-transition: width 0.7s;
  transition: width 0.7s;
}

.comment {
  margin-bottom: 0.9rem;
  min-height: 100vh;
}
.comment__reviews {
  margin-bottom: 2rem;
}
.comment__recall {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  color: #292929;
  text-align: center;
  text-transform: uppercase;
}
.comment__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.6rem;
  display: none;
}
@media screen and (max-width: 768px) {
  .comment__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2.6rem;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .comment__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2.6rem;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 375px) {
  .comment__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2.6rem;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  .comment__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2.6rem;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.comment__main--active {
  display: inline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.6rem;
}
.comment__pic {
  width: 15.8rem;
  height: 16.5rem;
}
@media screen and (max-width: 768px) {
  .comment__pic {
    width: 8rem;
    height: 8rem;
  }
}
.comment__title {
  padding: 2.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.comment__text {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2;
  color: #292929;
}
.comment__subtitle {
  padding-top: 0.9rem;
  max-width: 29rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2;
  color: #666666;
}
.comment__name {
  padding-top: 25px;
}
.comment__surname {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.2;
  color: #292929;
}

.container__comment--gray {
  background-color: #f8faf9;
  margin-bottom: 0.9rem;
  min-height: 21.7rem;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.clients__info {
  width: 4.6rem;
  height: 4.6rem;
  overflow: hidden;
  border-radius: 50%;
  border: 0.3rem solid transparent;
  cursor: pointer;
  padding-right: 0.4rem;
}
.clients__info:last-child {
  padding-right: 0;
}
.clients__info--active {
  border-color: #FEDB3F;
}
.clients__info:hover {
  border-color: #FEDB3F;
}
.clients__pic {
  height: 100%;
}

.work {
  background-color: #f8faf9;
}
.work__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f8faf9;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.2rem;
}
.work__title {
  padding-top: 3.8rem;
}
.work__subtitle {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  color: #292929;
  text-transform: uppercase;
}
.work__player {
  width: 100%;
}
.work__video {
  width: 100%;
  height: auto;
  max-height: 100%;
}
.work__iframe {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
.work__youtube {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}

.form {
  background: url("../img/form/cta.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  min-height: 100vh;
  margin-bottom: 0.2rem;
}
.form__title {
  padding-top: 6.8rem;
  margin-bottom: 7.5rem;
}
@media screen and (max-width: 768px) {
  .form__title {
    margin-bottom: 5rem;
  }
}
.form__subtitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
}
.form__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.form__block {
  margin-right: 1.7rem;
  width: 100%;
}
.form__block:last-child {
  margin-right: 0rem;
}
@media screen and (max-width: 768px) {
  .form__block {
    margin-right: 0;
  }
}
.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.25rem;
}
.form__data {
  margin-right: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.form__data:last-child {
  margin-right: 0;
}
.form__name, .form__phone, .form__str, .form__hous, .form__housing, .form__room, .form__level {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
}
.form__text {
  width: 100%;
  height: 100%;
  padding-left: 0.7rem;
  border: 0.06rem solid transparent;
  border-radius: 0.3rem;
  outline: 0;
  background-color: #ffffff;
  color: #000;
}
.form__text:focus {
  border-color: #9400d3;
}
@media screen and (max-width: 768px) {
  .form__text {
    height: 2.2rem;
  }
}
.form__insert--wishes {
  width: 100%;
  height: 9.5rem;
  resize: none;
  border: 0.06rem solid transparent;
  border-radius: 0.3rem;
  outline: 0;
  background-color: #ffffff;
  color: #000;
}
.form__insert--wishes:focus {
  border-color: #9400d3;
}
@media screen and (max-width: 768px) {
  .form__insert--wishes {
    height: 5rem;
  }
}
.form__payments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.2rem;
}
@media screen and (max-width: 480px) {
  .form__payments {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.form__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 0.5rem;
  cursor: pointer;
}
.form__hero__hero:last-child {
  padding-right: 0;
}
.form__cash {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
  padding-left: 0.6rem;
}
.form__card {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
  padding-left: 0.6rem;
}
.form__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.9rem;
}
@media screen and (max-width: 480px) {
  .form__call {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.form__nocall {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  padding-left: 0.7rem;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5rem;
}
@media screen and (max-width: 768px) {
  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.buttons .btn__theme--transparent {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
}

/*radio_buttoms*/
.radio {
  display: none;
}
.radio:checked ~ .radio__view::before {
  display: block;
}

.radio__view {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  background: #ffffff;
  border-radius: 50%;
}
.radio__view::before {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  position: absolute;
  display: none;
  -webkit-transform: translate(-25% -25%);
          transform: translate(-25% -25%);
  content: "";
  top: 25%;
  right: 25%;
  background-color: #fedb3f;
}

.radio__view--no {
  border-radius: 0;
}
.radio__view--no::before {
  background: url("../img/icon/check.png") center center no-repeat;
  width: 0.6rem;
  height: 0.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #FFFFFF;
}
@media screen and (max-width: 480px) {
  .footer__city {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__title {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.1;
  color: #292929;
}
.footer__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__phone {
  fill: #292929;
  height: 0.8rem;
  width: 0.8rem;
  cursor: pointer;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.footer__link {
  padding-right: 0.8rem;
}
.footer__link:last-child {
  padding-right: 0;
}
.footer__size {
  width: 1.25rem;
  height: 1.25rem;
}
.footer__svg--black {
  fill: black;
}
.footer__svg--gray {
  fill: #b3b3b3;
}

.contacts__tel--footer {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.1;
  color: #292929;
  text-decoration: none;
  cursor: pointer;
}
.contacts__tel--footer:hover {
  background: -webkit-gradient(linear, right top, left top, from(#00bfff));
  background: linear-gradient(to left, #00bfff);
  background-position: bottom;
  background-size: 100% 0.1rem;
  background-repeat: repeat-x;
}

.map__container {
  min-height: 41rem;
  margin-bottom: 5rem;
}

.sidebar {
  position: fixed;
  top: 17rem;
  right: 0.3rem;
}
.sidebar__list {
  padding: 0.4rem;
}
@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
.sidebar__link {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  border: 0.06rem solid transparent;
  position: relative;
  display: block;
}
.sidebar__link--actives {
  border-color: #ffffff;
}
.sidebar__link::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #ffffff;
  top: 25%;
  left: 25%;
  position: absolute;
}

.active {
  height: 100vh;
  width: 100%;
  background-color: #444;
  background-size: contain;
  border-radius: 5px;
  color: #fff;
  position: fixed;
  display: none;
  top: 0;
}
.active__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-right: 2.6rem;
  padding-top: 2.6rem;
}
.active__pic {
  width: 1.25rem;
  height: 1.25rem;
}
.active__svg {
  fill: #fff;
}
.active__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.active__link {
  text-decoration: none;
  color: #fff;
  font-size: 2.25rem;
  font-weight: 400;
  cursor: pointer;
}
