/*link*/
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 18px -1px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 18px -2px;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Alegreya Sans", sans-serif;
}

button {
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  min-height: 100%;
}
.wrapper__fon {
  background: url("../img/head/arnaud-mesureur.jpg") center top no-repeat;
  background-size: cover;
  margin-bottom: 6.4rem;
  min-height: 100vh;
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .wrapper__fon {
    background: url("../img/head/768_px/arnaud-mesureur.png") center top no-repeat;
  }
}

.head {
  padding: 1.5rem 0 4.3rem 0;
}
.head__wrapp {
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .head {
    padding: 0;
  }
}

.header {
  position: relative;
}
@media screen and (max-width: 768px) {
  .header__master {
    background-color: #1968b1;
    height: 5.6rem;
  }
}
.header__master {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10rem;
}
.header__master .logo__pic {
  width: 3.4rem;
  height: 2.4rem;
}
@media screen and (max-width: 768px) {
  .header__master .logo__pic {
    padding-left: 1.8rem;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__item {
  margin-right: 1.3rem;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
}
.menu__link:hover {
  background: -webkit-gradient(linear, right top, left top, from(#00bfff));
  background: linear-gradient(to left, #00bfff);
  background-position: bottom;
  background-size: 100% 0.1rem;
  background-repeat: repeat-x;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contacts__pic {
  margin: auto;
  width: 0.8rem;
  height: 0.8rem;
}
.contacts__tel {
  font-size: 1.3rem;
  font-weight: 800;
  line-height: 1.2;
  text-decoration: none;
  color: #ffffff;
}
.contacts__tel:hover {
  background: -webkit-gradient(linear, right top, left top, from(#00bfff));
  background: linear-gradient(to left, #00bfff);
  background-position: bottom;
  background-size: 100% 0.01rem;
  background-repeat: repeat-x;
}

@media screen and (max-width: 768px) {
  .contacts__tel {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .contacts__pic {
    display: none;
  }
}

.hero {
  width: 36rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero .hero__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 768px) {
  .hero .title {
    max-width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .hero .subtitle {
    max-width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .hero .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 3rem;
  max-width: 46%;
}

.subtitle {
  font-size: 1.3rem;
  font-style: 400;
  line-height: 1.2;
  color: #ffffff;
  margin-bottom: 6.3rem;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 7.9rem;
}

@media screen and (max-width: 768px) {
  .offer {
    display: none;
  }
}

.offer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.offer__main .offer__title {
  width: 8.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2rem;
}
.offer__main .offer__title:last-child {
  margin-right: 0;
}
.offer__main .offer__title .offer__pic {
  width: 2.1rem;
  height: 2.1rem;
}
.offer__main .offer__title .offer__link {
  display: inline;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1;
  color: #ffffff;
  padding-left: 0.8rem;
}

.btn {
  border: 1px solid transparent;
  padding: 1.1rem 2.5rem;
  border-radius: 2.1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.btn__theme--yellow {
  background-color: #fedb3f;
  color: #000000;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.1;
}
.btn__theme--yellow:hover {
  background-color: #ffffff;
  color: #fedb3f;
}

.sidebar {
  position: fixed;
  top: 17rem;
  right: 0.3rem;
}
.sidebar__list {
  padding: 0.4rem;
}
.sidebar__link {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  border: 0.06rem solid transparent;
  position: relative;
  display: block;
}
.sidebar__link--actives {
  border-color: #ffffff;
}
.sidebar__link::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #ffffff;
  top: 25%;
  left: 25%;
  position: absolute;
}

.features {
  margin-bottom: 3rem;
  min-height: 100vh;
}
.features__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.features__title {
  font-size: 3rem;
  font-weight: 700;
  color: #292929;
  line-height: 1.2;
  margin-bottom: 1rem;
  max-width: 100%;
  text-transform: uppercase;
}
.features__subtitle {
  width: 27.23rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2;
  color: #666666;
  margin-bottom: 3rem;
}
.features__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 7rem;
}
.features__link {
  margin-right: 3.3rem;
}
.features__link:last-child {
  margin-right: 0;
}
.features__intermediate__icon {
  position: absolute;
  width: 4.3rem;
  height: 1.5rem;
  margin: 3rem 7.6rem;
}
@media screen and (max-width: 768px) {
  .features__intermediate__icon {
    display: none;
  }
}
.features__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1.2rem;
}
.features__img {
  background-color: #f2f5f4;
  border-radius: 50%;
}
.features__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 8rem;
  height: 8rem;
}
.features__foto {
  width: 4.2rem;
  height: 4.2rem;
}
.features__block {
  text-align: center;
}
.features__name {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2;
  color: #292929;
  padding-bottom: 20px;
}
.features__product {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.2;
  color: #666666;
}

/*offers*/
.offers {
  background: #f8faf9;
  margin-bottom: 4.1rem;
}

.offers__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3.2rem 0 6.5rem 5.8rem;
  position: relative;
}
.offers__select {
  background-color: #3a587e;
  width: 5.6rem;
  height: 5.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.offers__pic {
  padding-right: 5rem;
  padding-top: 3.5rem;
  width: 27.7rem;
}
.offers__pic .offers__fon {
  height: 23.6rem;
  background: url("../img/offers/vector_surf.png") no-repeat;
}
.offers__pic .offers__fon .offers__img {
  position: absolute;
  top: 3.3rem;
}

.offers__info {
  max-width: 23rem;
}

.offers__text--name {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
}

.model__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.model__title--name {
  font-size: 2.2px;
  font-weight: 700;
  line-height: 1.2;
  color: #292929;
  margin-bottom: 24px;
}
.model__subtitle {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2;
  color: #666666;
  margin-bottom: 1.4rem;
}
.model__option {
  margin-bottom: 1.5rem;
}
.model__long {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.model__text {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2;
  color: #666666;
  padding-right: 3.4rem;
}

.size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.size__text {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
  padding-right: 3.2rem;
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/*Command*/
.command {
  min-height: 100vh;
}
.command__title {
  margin-bottom: 3.3rem;
}
.command__text {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  color: #292929;
  text-align: center;
  text-transform: uppercase;
}
.command__full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4rem;
}
.command__full__full:last-child {
  padding-right: 0;
}
.command___list {
  padding-right: 1.2rem;
}
.command__profession {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.command__name {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.2;
  color: #292929;
  text-align: center;
}
.command__name__name::after {
  content: url("../img/icon/Polygon_top.png");
  margin-left: 0.25rem;
  width: 0.6rem;
  height: 0.6rem;
}
.command__name__name--after::after {
  content: url("../img/icon/Polygon_bottom.png");
}

.profession__list {
  text-align: center;
}
.profession__title {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2;
  color: #292929;
}
.profession__subtitle {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.2;
}

.choice {
  background: url("../img/choice/Main_choice.jpg") center no-repeat;
  height: 40.7rem;
  margin-bottom: 3.6rem;
  min-height: 100vh;
}
.choice__text {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
  text-transform: uppercase;
}
.choice__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  width: 29rem;
  height: 3.6rem;
}

.comment {
  margin-bottom: 0.9rem;
  min-height: 100vh;
}
.comment__reviews {
  margin-bottom: 2rem;
}
.comment__recall {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  color: #292929;
  text-align: center;
  text-transform: uppercase;
}
.comment__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.6rem;
}
.comment__title {
  padding: 2.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.comment__text {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2;
  color: #292929;
}
.comment__subtitle {
  padding-top: 0.9rem;
  max-width: 29rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2;
  color: #666666;
}
.comment__name {
  padding-top: 25px;
}
.comment__surname {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.2;
  color: #292929;
}

.container__comment--gray {
  background-color: #f8faf9;
  margin-bottom: 0.9rem;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.clients__info {
  padding-right: 0.4rem;
}
.clients__info__info:last-child {
  padding-right: 0;
}
.clients__pic {
  width: 4.6rem;
  height: 4.6rem;
  overflow: hidden;
  border-radius: 50%;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f8faf9;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}
.work__title {
  padding-top: 3.8rem;
}
.work__subtitle {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  color: #292929;
  text-transform: uppercase;
}
.work__video {
  padding-top: 1.8rem;
}

.form {
  min-height: 100vh;
}
.form__fon {
  background: url("../img/form/cta.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 59.5rem;
}
.form__title {
  padding-top: 6.8rem;
  margin-bottom: 7.5rem;
}
.form__subtitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
}
.form__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__contacts {
  margin-right: 1.7rem;
}
.form__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.6rem;
}
.form__data {
  margin-right: 1rem;
}
.form__data:last-child {
  margin-right: 0;
}
.form__street {
  margin-bottom: 0.7rem;
}
.form__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__fill {
  margin-right: 0.8rem;
}
.form__fill:last-child {
  margin-right: 0;
}
.form__name, .form__phone, .form__str, .form__hous, .form__housing, .form__room, .form__level {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
}
.form__wishes {
  margin-bottom: 2.9rem;
}
.form__info--title {
  margin-bottom: 2.3rem;
}
.form__text {
  width: 13.3rem;
  height: 3.6rem;
  padding-left: 0.7rem;
}
.form__input {
  width: 28.7rem;
  height: 3.6rem;
  padding-left: 0.7rem;
}
.form__item {
  width: 5.8rem;
  height: 3.6rem;
  padding-left: 0.7rem;
}
.form__insert--wishes {
  width: 28rem;
  height: 9.5rem;
  resize: none;
}
.form__payments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.2rem;
}
.form__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 0.5rem;
  cursor: pointer;
}
.form__hero:last-child {
  padding-right: 0;
}
.form__cash {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
  padding-left: 0.6rem;
}
.form__card {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
  padding-left: 0.6rem;
}
.form__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 47px;
}
.form__nocall {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  padding-left: 0.7rem;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.buttons .btn__theme--transparent {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
}

/*radio_buttoms*/
.radio {
  display: none;
}
.radio:checked ~ .radio__view::before {
  display: block;
}

.radio__view {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  background: #ffffff;
  border-radius: 50%;
}
.radio__view::before {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  position: absolute;
  display: none;
  -webkit-transform: translate(-25% -25%);
          transform: translate(-25% -25%);
  content: "";
  top: 25%;
  right: 25%;
  background-color: #fedb3f;
}

.radio__view--no {
  border-radius: 0;
}
.radio__view--no::before {
  background: url("../../img/icon/check.png") center center no-repeat;
  width: 0.6rem;
  height: 0.5rem;
}
