/*link*/
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Alegreya Sans", sans-serif;
}

button {
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  width: 100%;
}

$basefonsize: 18px;

$tablet: 768px;
$phone: 480px;

@import "./block/head";
@import "./block/btn";
@import "./block/sidebar";
@import "./block/features";
@import "./block/main";
@import "./block/offers";
@import "./block/model";
@import "./block/command";
@import "./block/choice";
@import "./block/reviews";
@import "./block/comment";
@import "./block/clients";
@import "./block/work";
@import "./block/form";
@import "./block/radio_button";
@import "./media.scss";
