/*link*/

$heroFontSize: 18px;
$tablet: 768px;
$phone: 480px;

@import "./block/media";
@import "./main.scss";
@import "./block/head";
@import "./block/hamburger";
@import "./block/btn";
@import "./block/features";
@import "./block/offers";
@import "./block/model";
@import "./block/command";
@import "./block/choice";
@import "./block/comment";
@import "./block/clients";
@import "./block/work";
@import "./block/form";
@import "./block/radio_button";
@import "./block/sidebar";


